<div id="about" class="fix">
    <div class="about-area ptb--120  bg_color--1">
        <div class="about-wrapper">
            <div class="container">
                <div class="row row--35 align-items-center">
                    <div class="col-lg-5">
                        <div class="thumbnail"><img class="w-100" src="/assets/images/about/about-8.jpg"
                                alt="About Images"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-inner inner">
                            <div class="section-title">
                                <h2 class="title">About Me</h2>
                                <p class="description">There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered &lt;a href="#"&gt;alteration&lt;/a&gt; in some form,
                                    by injected humour, or randomised words which dont look even slightly believable. If
                                    you are going to use a passage of Lorem Ipsum,</p>
                            </div>
                            <div class="row mt--30">
                                <div>
                                    <div class="tabs-area">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="react-tabs" data-rttabs="true">
                                                        <ul class="tab-style--1" role="tablist">
                                                            <li class="react-tabs__tab react-tabs__tab--selected"
                                                                role="tab" id="react-tabs-0" aria-selected="true"
                                                                aria-disabled="false" aria-controls="react-tabs-1"
                                                                tabindex="0" data-rttab="true">Main skills</li>
                                                            <li class="react-tabs__tab" role="tab" id="react-tabs-2"
                                                                aria-selected="false" aria-disabled="false"
                                                                aria-controls="react-tabs-3" data-rttab="true">Awards
                                                            </li>
                                                            <li class="react-tabs__tab" role="tab" id="react-tabs-4"
                                                                aria-selected="false" aria-disabled="false"
                                                                aria-controls="react-tabs-5" data-rttab="true">
                                                                Experience</li>
                                                            <li class="react-tabs__tab" role="tab" id="react-tabs-6"
                                                                aria-selected="false" aria-disabled="false"
                                                                aria-controls="react-tabs-7" data-rttab="true">Education
                                                                &amp; Certification</li>
                                                        </ul>
                                                        <div class="react-tabs__tab-panel react-tabs__tab-panel--selected"
                                                            role="tabpanel" id="react-tabs-1"
                                                            aria-labelledby="react-tabs-0">
                                                            <div class="single-tab-content">
                                                                <ul>
                                                                    <li><a href="/service">User experience design <span>
                                                                                - UI/UX</span></a>Delight the user and
                                                                        make it work.</li>
                                                                    <li><a href="/service">Web and user interface
                                                                            design<span> -
                                                                                Development</span></a>Websites, web
                                                                        experiences, ...</li>
                                                                    <li><a href="/service">Interaction design <span> -
                                                                                Animation</span></a>I like to move it
                                                                        move it.</li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                        <div class="react-tabs__tab-panel" role="tabpanel"
                                                            id="react-tabs-3" aria-labelledby="react-tabs-2"></div>
                                                        <div class="react-tabs__tab-panel" role="tabpanel"
                                                            id="react-tabs-5" aria-labelledby="react-tabs-4"></div>
                                                        <div class="react-tabs__tab-panel" role="tabpanel"
                                                            id="react-tabs-7" aria-labelledby="react-tabs-6"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>