@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:root {
  --white: whitesmoke;
  --ice: #99ffff;
  --black: #000000;
}

body {
  font-family: "Poppins" sans-serif;
}

/*NAVBAR*/
.logo {
     /* transform: scale(100px, 250px); */
     width: 65px;
}

/*MENU LINKS*/
nav a.nav-link {
  font-weight: 250;
  font-size: 12px;
  letter-spacing: 0.6px;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--white) !important;
  border-top: 3px solid var(--black);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 3px solid var(--ice);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--ice);
}

.navbar-custom {
  color: #FFFFFF;
  background-image: url(img/nav-bgrd.jpg);
}